.footer {
  position: relative;
  overflow: hidden;
}

.parallax-container {
  background-image: url('../images/footer.png');

  min-height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100vh;
  max-width: 100%;
  z-index: -1;
}
